* {
  box-sizing: border-box;
}

header {
  text-align: center;
}
body {
  font-family: helvetica, sans-serif;
}
#chatId {
  width: 80px;
}
ul#chat {
  height: 50vh;
  width: min(400px, 90vw);
  margin: 1rem auto 2rem;
  outline: 1px solid #eee;
  box-shadow: 0 2px 12px #0002;
  border-radius: .2rem;
  
  list-style: none;
  padding: 0;
  overflow-y: scroll;
}

ul#chat li {
  padding: 1rem;
}

ul#chat li:nth-child(even) {
  background: #f6f6f6;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
footer #username {
  width: 80px;
}

input {
  padding: .2rem 1rem;
}
